.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}
.carousel-item {
    margin-left: 1rem;
}

.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
}

.carousel-item {
    flex: 1 0 450px;
    margin-left: 1rem;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}